.socialIcon{
  margin: 0 15px;
}
.socialIcon .x-icon-el:before{
  font-size: 30px;
}
.socialIcon .x-icon-el{
  width : 30px;
  height : 30px;
}
.icons .x-icon-el:before{
  font-size: 30px;
}
.icons .x-icon-el{
  width : 30px;
  height : 30px;
}
.right-panel-upper {
  background-color:#fff;
  box-shadow  : 3px 3px 10px #ccc;
}
.right-panel-down {
  background-color:#fff;
  box-shadow  : 3px 3px 10px #ccc;
}
.profile-image {
  border-radius: 50%;
  margin: 10px 10px;
  width : 130px;
  background-color: #a1a1a1;
}
.border{
  padding: 0 30px;
  border-bottom: solid 1px #DEDEDE;
}
.nameStyle {
  font-size: 30px;
}
.designationStyle{
  font-size: 15px;
  color : #a1a1a1;
}
.size{
  font-size: 14px;
}
